{% extends 'base.html' %}
{%block title%} Index {%endblock%}
{%block content%}

<body background="./static/imagens/fundo.png">



    <div class="div_cabeçalho">
        <div>
            <img class="logo" src="./static/imagens/logo.png" alt="logo unes">
        </div>
    </div>

    <div class="barra_nav">

        <span class="botão-home">
            <a href="/"> Home </a>&nbsp;|
            <a href="/qmsomos"> Quem somos </a>&nbsp;|
            <a href="/contatos"> Contatos </a>&nbsp;
        </span>

    </div>

    <div>
        <img class="imagem_capa" src="./static/imagens/capa.png">
    </div>

    <div class="texto_index">
        <h2>Sobre a Universidade</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ad nihil incidunt, omnis ipsum ab
            veritatis iusto aliquid unde officia id voluptas distinctio vero sunt asperiores minima maiores, quos
            odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime omnis soluta veniam facilis, commodi vel, possimus consequatur doloremque quas magnam nesciunt iusto fuga aut esse aspernatur quam corporis culpa ratione?</p>
        <p>Numquam eveniet, dolor quis repellendus iusto earum blanditiis, doloribus laborum ipsam minima eaque ipsa
            facilis sapiente hic maxime, accusantium nulla at consequuntur assumenda voluptates officiis amet autem
            asperiores. Nihil, consequuntur?</p>
        <p>At, consequuntur. Veniam totam, mollitia, ex laudantium aperiam accusantium vitae quisquam perferendis
            provident, nemo architecto enim. Ex labore laborum atque, minus ab distinctio doloremque aliquid
            incidunt eos sed molestiae dolore.</p>
        <br>
        <p class="texto_direitos"><b>Todos direitos reservados</b></p>
    </div>








</body>
{% endblock %}

</html>