{% extends 'base.html' %}
{%block title%} Qm Somos {% endblock %}
{% block content %}

<body background="./static/imagens/fundo2.png">

    <!-- Cabeçalho -->

    <div>
        <div class="div_cabeçalho">
            <img src="./static/imagens/logo.png" alt="logo unes">
            </div>

            <div class="barra_nav">
                <span class="botão-home">
                    <a href="/"> Home </a>&nbsp;|
                    <a href="/qmsomos"> Quem somos </a>&nbsp;|
                    <a href="/contatos"> Contatos </a>&nbsp;
                
                </span>
            </div>
        </div>

    </div>

    </div>
    <!--  -->

    <div>
        <h2>Quem somos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illum necessitatibus assumenda doloribus est
            molestias officiis vitae error voluptates voluptas. Ad necessitatibus nesciunt officiis quaerat aliquid
            eveniet libero tempora illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos rerum veritatis
            dicta culpa, labore sapiente itaque? Quod laboriosam voluptatem, sint ducimus et repudiandae necessitatibus
            impedit dolores dignissimos itaque in eligendi?</p>
    </div>

    <div>
        <h2>5 motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aulla</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Boa localização</li>
        </ol>

    </div>
    <hr>
    <div>
        <h2>Objetivos</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quam laboriosam facere, mollitia hic harum
            expedita nostrum neque laborum sit provident excepturi? Ducimus voluptatum tenetur consequatur expedita?
            Reprehenderit, exercitationem praesentium. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusamus porro iste rem molestiae facilis quis perferendis impedit. Dolorem eum quos corporis ipsa deserunt
            dolores qui voluptas natus! Fugit, harum sequi?</p>

            <p class="texto_direitos"><b>Todos direitos reservados</b></p>

    </div>






</body>
{% endblock %}
</html>